<h2>Admin panel</h2>

<div>
    <a class="btn btn-danger" asp-controller="Admin" asp-action="RegisterEmployee">Register Employee</a>
    <a class="btn btn-outline-dark" asp-controller="Authors" asp-action="Index">Manage Authors</a>
    <a class="btn btn-outline-info" asp-controller="Publishers" asp-action="Index">Manage Publishers</a>
    <a class="btn btn-outline-warning" asp-controller="Employee" asp-action="ManageOrderStatus">Manage Orders Status</a>
    <a class="btn btn-danger" asp-controller="Books" asp-action="Create">Add new book</a>
</div>