@model IEnumerable<BookstoreWebApp.Models.Book>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bookstore</h1>
    <div style="margin-top: 10%" class="container-fluid">
    @foreach (var item in Model) {
            
                <div class="col-sm-12 col-sm-6 col-md-4 float-left">
                    <a asp-action="Details" asp-controller="Books" asp-route-id="@item.Id ">
                    <img class="book-cover" src=@Html.DisplayFor(modelItem => item.Photo) />
                    </a>
                    <div>
                        <h5>@Html.DisplayFor(modelItem => item.Title)</h5>
                        <h6>@Html.DisplayFor(modelItem => item.Author.Name)</h6>
                        <h6>@Html.DisplayFor(modelItem => item.Price) zł</h6>    
                    </div>
                </div>
    }
    </div>
</div>
